:root {
    --border-color: black;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    width: 600px;
    height: 600px;
    /* width: clamp(); */
    
    display: grid;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 600px) {

    .grid-container {
        width: 100%;
    }
}

.grid-row {
    display: grid;
    border-bottom: 1px solid var(--border-color);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid-row:nth-child(1) {
    border-top: 1px solid var(--border-color);
}

.grid-item {
    border-right: 1px solid var(--border-color);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid-item:nth-child(1) {
    border-left: 1px solid var(--border-color);
}

