:root {
    --border-color: black;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    height: 15%;

    padding: 0 0 20px 0;
}

#clear-grid-button {
    font-size: 18px;
}

#title {
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
}

.grid-container {
    width: 600px;
    height: 600px;
    /* width: clamp(); */
    
    display: grid;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 600px) {

    header {
        height: 150px;

    }
    .grid-container {
        width: 100vw;
    }
}

#grid-size-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.grid-row {
    display: grid;
    border-bottom: 1px solid var(--border-color);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid-row:nth-child(1) {
    border-top: 1px solid var(--border-color);
}

.grid-item {
    border-right: 1px solid var(--border-color);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid-item:nth-child(1) {
    border-left: 1px solid var(--border-color);
}

